@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&display=swap');

@keyframes undp-viz-lineLoop-animation-for-link {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }
  to {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}

hr.undp-viz-style {
  height: 1px;
  background-color: #000;
  border: none;
}

hr.undp-viz-style.light {
  height: 1px;
  background-color: #D4D6D8;
  border: none;
}

p.undp-viz-typography {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

@media (min-width: 48em) {
  p.undp-viz-typography {
      font-size: 1.25rem;
  }
  li.undp-viz-typography {
      font-size: 1.25rem;
  }
}

caption.undp-viz-typography, h1.undp-viz-typography, h2.undp-viz-typography, h3.undp-viz-typography, h4.undp-viz-typography, h5.undp-viz-typography, h6.undp-viz-typography {
  margin: 0 0 0.75rem;
  padding: 0;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}
@media(min-width:48em) {
  caption.undp-viz-typography, h1.undp-viz-typography, h2.undp-viz-typography, h3.undp-viz-typography, h4.undp-viz-typography, h5.undp-viz-typography, h6.undp-viz-typography {
    margin-bottom: 1rem;
  }
}

h1.undp-viz-typography {
  font-size: 2.938rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.08;
  text-transform: uppercase;
  font-family: 'SohneBreit', 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

h2.undp-viz-typography {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

h2.undp-viz-typography.page-title {
  text-transform: uppercase;
  font-family: 'SohneBreit', 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}


h3.undp-viz-typography {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

h4.undp-viz-typography {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

h5.undp-viz-typography {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

blockquote.undp-viz-typography {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.16;
  margin: 0;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

cite.undp-viz-typography {
  font-size: 1.25rem;
  line-height: 1.1;
  display: block;
  font-style: inherit;
  font-weight: 400;
  margin-top: 1.125rem;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

code.undp-viz-typography {
  font-size: 1rem;
  font-family: monospace;
  background: #F7F7F7;
  padding: 0 0.25rem 0.25rem;
}

@media(min-width:64em) {
  h2.undp-viz-typography {
    font-size: 3.438rem;
  }
  h1.undp-viz-typography {
    font-size: 6.25rem;
  }
}

@media(min-width:48em) {
  h5.undp-viz-typography {
    font-size: 1.563rem;
  }
  h4.undp-viz-typography {
    font-size: 2.188rem;
  }
  h3.undp-viz-typography {
    font-size: 2.188rem;
  }
  h2.undp-viz-typography {
    font-size: 2.813rem;
  }
  h1.undp-viz-typography {
    font-size: 5.125rem;
  }
  blockquote.undp-viz-typography {
    font-size: 2.188rem;
    line-height: 1.15;
  }
  cite.undp-viz-typography {
    font-size: 1.5rem;
  }
  code.undp-viz-typography {
    font-size: 1.25rem;
  }
}

h6.undp-viz-typography {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

a.undp-viz-style {
  background-image: linear-gradient(#D12800, #D12800), linear-gradient(#D12800, #D12800);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  text-decoration: none;
  color: #000;
}

a.undp-viz-style:hover {
  animation: undp-viz-lineLoop-animation-for-link 2s linear infinite;
  color: #000;
}

a.undp-viz-style.dark-bg {
  background-image: linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  color: #FFF;
}

a.undp-viz-style.dark-bg:hover {
  animation: undp-viz-lineLoop-animation-for-link 2s linear infinite;
  color: #FFF;
}

a.undp-viz-style:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-viz-small-font {
  font-size: 0.875rem !important;
}

.undp-viz-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.undp-viz-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.undp-viz-scrollbar::-webkit-scrollbar-track {
  background: #000;
  background-clip: padding-box;
  border: 2px solid rgba(255,255,255,0);
}

.undp-viz-scrollbar::-webkit-scrollbar-corner {
  display: none;
}

.undp-viz-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

@keyframes undp-viz-loader-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.undp-viz-loader {
  animation: undp-viz-loader-animation 2s linear infinite;
  border-radius: 50%;
  border: 4px solid #006EB5;
  border-top: 4px solid #EDEFF0;
  height: 32px;
  width: 32px;
}

.undp-viz-button {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: 1rem 1.5rem;
  margin: 0 !important;
}

.undp-viz-button:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-viz-button.button-primary {
  background-color: #D12800;
}

.undp-viz-button.button-primary:hover {
  background-color: #EE402D;
}

.undp-viz-button.button-primary.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
  color: #D12800;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}

.undp-viz-button.button-primary.button-arrow:hover:after {
  transform: translate(70%, 0);
}

.undp-viz-button.button-primary.button-arrow.disabled:after {
  background: url(https://design.undp.org/static/media/chevron-right-white.c14d1d86.svg) no-repeat left center;
  content: ""
}

.undp-viz-button.button-secondary {
  background-color: #006EB5;
}

.undp-viz-button.button-secondary:hover {
  background-color: #3288CE;
}


.undp-viz-button.button-secondary.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/static/media/chevron-right-white.c14d1d86.svg) no-repeat left center;
  color: #D12800;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}

.undp-viz-button.button-secondary.button-arrow:hover:after {
  transform: translate(70%, 0);
}

.undp-viz-button.button-secondary.button-arrow.disabled:after {
  background: url(https://design.undp.org/static/media/chevron-right-white.c14d1d86.svg) no-repeat left center;
  content: ""
}

.undp-viz-button.disabled {
  background-color: #D4D6D8;
  color: #EDEFF0;
  pointer-events: none;
}

.undp-viz-button.button-tertiary {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: #000;
}

.undp-viz-button.button-tertiary:hover {
  color: #EE402D;
}

.undp-viz-button.button-tertiary.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
}

.undp-viz-button.button-tertiary.button-arrow:hover:after {
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  transform: translate(70%, 0);
}

.undp-viz-button.button-tertiary.disabled {
  color: #D4D6D8;
}

.undp-viz-button.button-tertiary.disabled.button-arrow:after {
  transition: .2s ease;
  background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
  height: 20px;
  margin-left: 0.75rem;
  content: "";
  width: 13px;
  opacity: 0.3;
}

.undp-viz-button.button-no-background{  
  background-color: transparent !important;
  border: 0 !important;
  cursor: pointer !important;
  padding: 0 !important;
}

.undp-viz-button.button-quaternary {
  background-color: #F7F7F7;
  border: 1px solid #EDEFF0;
  color: #232E3D;
}

.undp-viz-button.button-quaternary:hover {
  background-color: #EDEFF0;
}

.undp-viz-button.dark.button-quaternary {
  background-color: #55606E;
  border: 1px solid #A9B1B7;
  color: #FAFAFA;
}

.undp-viz-button.dark.button-quaternary:hover {
  background-color: #A9B1B7;
}


.undp-viz-bivariate-legend-container {
  width: 20rem;
  position: sticky;
  bottom: 0;
  z-index: 5;
  height: 0;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 961px) {    
  .undp-viz-bivariate-legend-container {
    translate: 0 -100%;
    width: fit-content;
    background-color: rgba(255,255,255, 0.75);
  }
}

.undp-viz-x-axis-text {  
  font-size: 12px;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-viz-label-text {  
  font-size: 12px;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

@media (max-width: 980px) {
  .undp-viz-x-axis-text {  
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .undp-viz-x-axis-text {  
    font-size: 9px;
  }
}

@media (max-width: 420px) {
  .undp-viz-x-axis-text {  
    font-size: 8px;
  }
}

@media (max-width: 360px) {
  .undp-viz-x-axis-text {  
    display: none;
  }
}

.undp-viz-low-opacity {
  opacity: 0.8;
}

.undp-viz-g-with-hover {
  transition: opacity 0.2s;
}

.undp-viz-g-with-hover:hover {
  opacity: 1 !important;
}

.maplibregl-control-container {
  display: none;
}

.maplibregl-ctrl-scale {
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner {
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner a{
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  background-image: none !important;
  font-weight: 700 !important;
}

.maplibre-show-control .maplibregl-control-container {
  display: block !important;
}

.maplibregl-ctrl-attrib-button:before{
  content: none !important;
}


.undp-viz-checkbox{
  padding: 2px 0 !important;
}

.undp-viz-label{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 0.875rem !important;
  font-weight: bold;
}

div.undp-viz-tooltip{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-size: 14px !important;
  line-height: 1.5;
}

div.undp-viz-tooltip-en{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-size: 14px !important;
  line-height: 1.5;
}

div.undp-viz-tooltip-ar{
  font-family: "Noto Sans Arabic", sans-serif !important;
  font-size: 14px !important;
  line-height: 1.5;
  text-align: right !important;
}

div.undp-viz-tooltip-he{
  font-family: "Noto Sans Hebrew", sans-serif !important;
  font-size: 14px !important;
  line-height: 1.5;
  text-align: right !important;
}

div.undp-viz-tooltip-dark{
  color: #fff !important;
}

div.undp-viz-tooltip p,div.undp-viz-tooltip h1,div.undp-viz-tooltip h2,div.undp-viz-tooltip h3,div.undp-viz-tooltip h4,div.undp-viz-tooltip h5,div.undp-viz-tooltip h6{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

div.undp-viz-tooltip-en p,div.undp-viz-tooltip-en h1,div.undp-viz-tooltip-en h2,div.undp-viz-tooltip-en h3,div.undp-viz-tooltip-en h4,div.undp-viz-tooltip-en h5,div.undp-viz-tooltip-en h6{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

div.undp-viz-tooltip-ar p,div.undp-viz-tooltip-ar h1,div.undp-viz-tooltip-ar h2,div.undp-viz-tooltip-ar h3,div.undp-viz-tooltip-ar h4,div.undp-viz-tooltip-ar h5,div.undp-viz-tooltip-ar h6{
  font-family: "Noto Sans Arabic", sans-serif !important;
  text-align: right !important;
}

div.undp-viz-tooltip-he p,div.undp-viz-tooltip-h3 h1,div.undp-viz-tooltip-h3 h2,div.undp-viz-tooltip-h3 h3,div.undp-viz-tooltip-h3 h4,div.undp-viz-tooltip-h3 h5,div.undp-viz-tooltip-h3 h6{
  font-family: "Noto Sans Hebrew", sans-serif !important;
  text-align: right !important;
}

div.undp-viz-tooltip p, div.undp-viz-tooltip-en p, div.undp-viz-tooltip-ar p, div.undp-viz-tooltip-he p{
  font-size: 14px !important;
}

div.undp-viz-tooltip a, div.undp-viz-tooltip-en a, div.undp-viz-tooltip-ar a, div.undp-viz-tooltip-he a{
  background-image: linear-gradient(#D12800, #D12800), linear-gradient(#D12800, #D12800);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  text-decoration: none;
  color: #000;
}

div.undp-viz-tooltip a:hover, div.undp-viz-tooltip-en a:hover, div.undp-viz-tooltip-ar a:hover, div.undp-viz-tooltip-he a:hover{
  animation: undp-viz-lineLoop-animation-for-link 2s linear infinite;
  color: #000;
}

.undp-viz-select {
  border: 2px solid #000;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin: 0;position: relative;
  text-transform: none;
  width: 100%;
}


.undp-viz-select>div[class$="-control"]{
  height: 52px;
  overflow: auto;
}

.undp-viz-select>div[class$="-control"]>div:last-of-type{
  height: 46px !important;
  position: sticky;
  top: 0;
}


.undp-viz-select div input {
  height: 18px !important;
}


.undp-viz-select-ar {
  font-family: "Noto Sans Arabic", sans-serif !important;
}

.undp-viz-select-he {
  font-family: "Noto Sans Hebrew", sans-serif !important;
}

.undp-viz-select-en {
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

[class$="-indicatorSeparator"]{
  width: 0 !important;
}

[class$="-indicatorContainer"]{
  padding: 0 8px !important;
}

[class$="-indicatorContainer"]:last-of-type{
  background: url(https://design.undp.org/static/media/chevron-down.16c97a3f.svg) no-repeat center center;
  padding: 8px !important;

}

[class$="-indicatorContainer"]:last-of-type svg{
  display: none !important;
}

.undp-viz-select [class$="-control"]>div{
  padding: 6px 12px !important;
}

.undp-viz-select div{
  font-size: 1rem !important;
}

.undp-viz-slider {
  margin-bottom: 16px;
}

.undp-viz-slider .rc-slider-track{
  background-color: #D12800;
}

.undp-viz-slider .rc-slider-handle{
  border: 2px solid #D12800;
}

.undp-viz-slider .rc-slider-dot-active{
  border: 1px solid #fff;
  background-color: #D12800;
}


.undp-viz-slider .rc-slider-mark-text{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-size: 14px;
  transform: translateX(-50%) !important;
}

.undp-viz-slider .rc-slider-mark-text:first-of-type{
  transform: translateX(0) !important;
}


.undp-viz-slider .rc-slider-mark-text:last-of-type{
  transform: translateX(-100%) !important;
}

.undp-viz-typography-ar{
  font-family: "Noto Sans Arabic", sans-serif !important;
  text-align: right;
}

.undp-viz-typography-he{
  font-family: "Noto Sans Hebrew", sans-serif !important;
  text-align: right;
}

.undp-viz-typography-en{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.rtl {
  direction: rtl;
}

.undp-form-check{
  align-items: center;
  display: flex !important;
  gap: 0.25rem;
}

.undp-viz-radio label{
  margin: 0 !important;
  font-weight: normal;
  font-size: 16px !important;
  color: #000;
  cursor: pointer !important;
}

.undp-viz-radio.dark-mode label{
  color: #fff !important;
}

.undp-viz-radio.en label{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}


.undp-viz-radio.ar label{
  font-family: "Noto Sans Arabic", sans-serif !important;
  text-align: right !important;
}

.undp-viz-radio.he label{
  font-family: "Noto Sans Hebrew", sans-serif !important;
  text-align: right !important;
}

input.undp-viz-radio[type=radio] {
	appearance: none;
	border: 2px solid #d12800;
	cursor: pointer;
	height: 16px;
	margin: 0;
	width: 16px;
}

input.undp-viz-radio[type=radio]:hover {
	border-color: #ffb4ae;
}

.undp-form-check:hover input.undp-viz-radio[type=radio] {
	border-color: #ffb4ae;
}

input.undp-viz-radio[type=radio]:focus-visible {
	box-shadow: 0 0 4px #0468b1;
	outline: 0;
}

input.undp-viz-radio[type=radio] {
	background-color: transparent;
	border-radius: 100%;
	box-shadow: inset 0 0 0 #fff;
}

input.undp-viz-radio[type=radio]:checked {
	background-color: #d12800;
	box-shadow: inset 0 0 0 3px #fff;
}

input.undp-viz-checkbox[type=checkbox]{
  appearance: none;
  border: 2px solid #D12800;
  cursor: pointer;
  height: 16px;
  margin: 0;
  width: 16px;
}

input.undp-viz-checkbox[type=checkbox]:checked{    
  background: url(https://design.undp.org/static/media/icon-check.b332b98d.svg) 1px 0 no-repeat;
}

input.undp-viz-checkbox[type=checkbox]:hover {
	border-color: #ffb4ae;
}

input.undp-viz-checkbox[type=checkbox]:focus-visible {
	box-shadow: 0 0 4px #0468b1;
	outline: 0;
}

input.undp-viz-checkbox[type=checkbox] {
	border-radius: 0
}

input.undp-viz-checkbox[type=checkbox]:checked {
	background: url(https://design.undp.org/static/media/icon-check.b332b98d.svg) 1px 0 no-repeat;
}

.undp-viz-checkbox label{
  margin: 0 !important;
  font-weight: normal;
  font-size: 16px !important;
  color: #000;
}

.undp-viz-checkbox.dark-mode p{
  color: #fff;
}

.undp-viz-checkbox.en label{
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}


.undp-viz-checkbox.ar label{
  font-family: "Noto Sans Arabic", sans-serif !important;
  text-align: right !important;
}

.undp-viz-checkbox.he label{
  font-family: "Noto Sans Hebrew", sans-serif !important;
  text-align: right !important;
}

.undp-viz-data-cards-container {
  width: 100%;
  container-type: inline-size;
  margin: 0 auto;
  display: grid;
  gap: 1rem;  
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.undp-viz-data-cards-container.rtl {
  direction: rtl;
}

.undp-viz-data-cards{
  width: 100%;    
  display: flex;
  flex-direction: column;
}

.undp-viz-text-box{
  font-size: 1rem;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

input.undp-viz-text-box:focus{
  outline: 0;
  box-shadow: 0 0 4px #0468b1;
}

input.undp-viz-text-box:focus-visible{
  outline: 0;
  box-shadow: 0 0 4px #0468b1;
}

.undp-viz-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  background: hsla(0, 0%, 97%, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.undp-viz-modal-content {
  background: #fff;
  max-width: 100rem;
  padding: 4rem 0.75rem 0.75rem;
  position: relative;
  width: 90%;
  max-height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;
}

.undp-viz-modal-content::-webkit-scrollbar {
  border-radius: 0;
  height: 5px;
  width: 5px;
}

.undp-viz-modal-content::-webkit-scrollbar-track {
  background: #000;
  background-clip: padding-box;
  border: 2px solid #fff;
}

.undp-viz-modal-content::-webkit-scrollbar-corner {
  display: none;
}

.undp-viz-modal-content::-webkit-scrollbar-thumb {
  background: #000;
}

.undp-viz-modal-close {
  position: absolute;
  background: url(https://design.undp.org/icons/times-circle.svg) no-repeat 0;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 45px;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  width: 45px;
}

.undp-viz-modal-rtl .undp-viz-modal-close{
  left: 0.75rem;
  right: unset;
}

.undp-viz-modal-close:focus {
  outline: none;
}


.undp-markdown li {
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

@media (min-width: 48em) {
  .undp-markdown p {
      font-size: 1.25rem;
  }
  .undp-markdown li {
      font-size: 1.25rem;
  }
}

.undp-markdown caption, .undp-markdown h1, .undp-markdown h2, .undp-markdown h3, .undp-markdown h4, .undp-markdown h5, .undp-markdown h6 {
  margin: 0 0 0.75rem;
  padding: 0;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}
@media(min-width:48em) {
  .undp-markdown caption, .undp-markdown h1, .undp-markdown h2, .undp-markdown h3, .undp-markdown h4, .undp-markdown h5, .undp-markdown h6 {
    margin-bottom: 1rem;
  }
}

.undp-markdown h1 {
  font-size: 2.938rem;
  font-weight: 700;
  letter-spacing: .06rem;
  line-height: 1.08;
  text-transform: uppercase;
  font-family: 'SohneBreit', 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown h2.page-title {
  text-transform: uppercase;
  font-family: 'SohneBreit', 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}


.undp-markdown h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown blockquote {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.16;
  margin: 0;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown cite {
  font-size: 1.25rem;
  line-height: 1.1;
  display: block;
  font-style: inherit;
  font-weight: 400;
  margin-top: 1.125rem;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown code {
  font-size: 1rem;
  font-family: monospace;
  background: #F7F7F7;
  padding: 0 0.25rem 0.25rem;
}

@media(min-width:64em) {
  .undp-markdown h2 {
    font-size: 3.438rem;
  }
  .undp-markdown h1 {
    font-size: 6.25rem;
  }
}

@media(min-width:48em) {
  .undp-markdown h5 {
    font-size: 1.563rem;
  }
  .undp-markdown h4 {
    font-size: 2.188rem;
  }
  .undp-markdown h3 {
    font-size: 2.188rem;
  }
  .undp-markdown h2 {
    font-size: 2.813rem;
  }
  .undp-markdown h1 {
    font-size: 5.125rem;
  }
  .undp-markdown blockquote {
    font-size: 2.188rem;
    line-height: 1.15;
  }
  .undp-markdown cite {
    font-size: 1.5rem;
  }
  .undp-markdown code {
    font-size: 1.25rem;
  }
}

.undp-markdown h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
}

.undp-markdown a {
  background-image: linear-gradient(#D12800, #D12800), linear-gradient(#D12800, #D12800);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  text-decoration: none;
  color: #000;
}

.undp-markdown a:hover {
  animation: undp-viz-lineLoop-animation-for-link 2s linear infinite;
  color: #000;
}

.undp-markdown a:focus-visible {
  box-shadow: 0 0 4px #0468b1;
  outline: 0;
}

.undp-slide-show-big-el {  
  scroll-snap-type: x mandatory;
  scroll-padding: 0;
  scroll-padding-left: 0;
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  display: flex;
  gap: 1rem,
  
}