.undp-viz-bivariate-legend-container {
  width: 20rem;
  position: relative;
  bottom: 0;
  z-index: 5;
  height: 0;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 961px) {    
  .undp-viz-bivariate-legend-container {
    translate: 0 -100%;
    width: fit-content;
  }
}

.undp-viz-bivariate-legend {
  background-color: rgba(255,255,255,0.75);
  align-items: flex-start;
  margin-bottom: 0.75rem;
  display: flex;
}

.dark .undp-viz-bivariate-legend {
  background-color: rgba(255,255,255,0.05);
}

.text-outline {
  -webkit-text-stroke: 2px black;
  text-shadow: none;
}

.dark .text-outline{
  -webkit-text-stroke: 2px white;
}

.transparent{
  color: transparent;
}

.undp-viz-low-opacity {
  opacity: 0.8;
}

.undp-viz-g-with-hover {
  transition: opacity 0.2s;
}

.undp-viz-g-with-hover:hover {
  opacity: 1 !important;
}

.maplibregl-control-container {
  display: none;
}

.maplibregl-ctrl-scale {
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner {
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner a{
  font-size: 12px !important;
  font-family: 'ProximaNova', 'proxima-nova', 'Helvetica Neue', 'Roboto', sans-serif !important;
  background-image: none !important;
  font-weight: 700 !important;
}

.maplibre-show-control .maplibregl-control-container {
  display: block !important;
}

.maplibregl-ctrl-attrib-button:before{
  content: none !important;
}

.undp-viz-data-cards-container {
  container-type: inline-size;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  overflow-x: hidden !important;
}

.undp-ref-line {
  stroke-width: 1.5;
  stroke-dasharray: 4,4;
}

.undp-tick-line {
  stroke-width: 1;
  stroke-dasharray: 4,8;
}